# Orange Theme for the bunsen-exit dialog.
# -*- coding: utf-8 -*-
#    This is a fork of:
#    bl-exit: Bunsenlabs exit dialog, offering various exit options
#     via both GUI and CLI
#    Copyright (C) 2012 Philip Newborough  <corenominal@corenominal.org>
#    Copyright (C) 2016 xaos52  <xaos52@gmail.com>
#    Copyright (C) 2017 damo  <damo@bunsenlabs.org>
#    Copyright (C) 2018 William Bradley  <webradley9929@gmail.com>

#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.

#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>

# NOTE: All defaults are taken from the theme bunsen-small from the original 
# bl-exitrc. This is the previous set of defaults used in Bunsenlabs Hydrogen.

# NOTE: In order to achieve the original Crunchbang look, ensure that you have
# a gtk theme similar to that of #! set as your default, then remove or rename
# the config file, located at: ~/.config/bunsen-exit/bl-exitrc

#[theme] is mandatory

# name - the name of the theme.
# defaults to Unknown

# author - the author of the theme.
# defaults to Unknown

# window_width adjustment - Percentage of the screen the dialog window should occupy.
# Must resolve to a float.
# defaults to 0.50

# scale factor for window_width_adjustment ( 0 = default, 800px; 1 = full screen)

# dialog_height - the height of the dialog window. Must be resolve to an int.
# defaults to 64

# button_height - the height of the custom buttons. 
# What appears to be a button is an event container packed with an image and
# a label. This key determines the overall height of that container.
# This defaults to 64 in order to mimic earlier variants of this application.
# Must resolve to an int.
# NOTE: values of less than 60 tend to create clipping on the labels.
# Similarly, values larger than the dialog_height will create clipping.

# inner_border - this specifies the size of the Horizontal container that the
# buttons get packed into. It is useful to create a thin inner border between
# the dialog and that container. Large values may create clipping. 
# Must resolve to an int.
# Defaults to 0.

# sleep_delay - delay for the fade in counter. Must resolve to a float.
# This allows the dialog to fade into view.
# defaults to 0.001

# overall_opacity - opacity of the dialog from (0 - 100) with 0 being transparent.
# Must resolve top an int.
# defaults to 100

# button_spacing - the spacing between the buttons. Must resolve to an int.
# defaults to 0

# icon_path - the path to the images you want to map to the buttons.
# If this path cannot be found, then the dialog will fall back to a default 
# gtk dialog. 

# Button textures (i.e. the images on them)
# Map file names to button types similar to below.
# button_image_cancel = cancel-sm.png
# button_image_poweroff = poweroff-sm.png
# button_image_reboot = reboot-sm.png
# button_image_suspend = sleep-sm.png
# button_image_logout = logout-sm.png
# button_image_hybridsleep = hibernate-sm.png
# button_image_hibernate = hibernate-sm.png

# label_height - Additional height to add to the dialog when <Shift> is pressed
# and button labels are shown. Increase this value for larger fonts or fonts with odd
# ascenders/descenders that end up clipped.
# Defaults to 20. Must be an int.

# window_background_normal - the color of the dialog window
# Must use hexadecimal color format. Defaults to #838383

# button_background_normal - the normal color of the button
# Must use hexadecimal format. Defaults to #838383

# button_background_prelight - the highlighted color of the button.
# Must use hexadecimal format. Defaults to #c1c1c1

# text_color_normal - the normal text color for labels.
# Must use hexadecimal format. Defaults to #d9d9d9

# text_color_prelight - the highlighted text color of labels.
# Must use hexadecimal format. Defaults to #d9d9d9

# tooltip_background - the color of tooltip backgrounds
# Must use hexadecimal format. Defaults to #c1c1c1

# tooltip_foreground - the tooltip text color
# Must use hexadecimal format. Defaults to #000000

# border_color - Not implemented yet.

# font_family - Sets the font family for labels, e.g. sans, serif, monospace
# font_style - Sets the font style, e.g. bold, or bold, italic condensed
# font_size - Sets the font size for font_labels.

[theme]

# Metadata
name = Orange Theme
author = BunsenLabs

# Dialog
window_width_adjustment = 0.50
dialog_height = 66
button_height = 62
inner_border = 4

# Opacity
sleep_delay = 0.003
overall_opacity = 80

# Buttons
button_spacing = 4
icon_path = /usr/share/images/bunsen/exit/light
button_image_cancel = cancel-sm.png
button_image_poweroff = poweroff-sm.png
button_image_reboot = reboot-sm.png
button_image_suspend = sleep-sm.png
button_image_logout = logout-sm.png
button_image_hybridsleep = hibernate-sm.png
button_image_hibernate = hibernate-sm.png

# Label Height
label_height = 20

# Window Colors
window_background_normal = #91210c

# Button Backgrounds
button_background_normal = #91210c
button_background_prelight = #fd3109

# Text Colors
text_color_normal = #ffffff
text_color_prelight = #000000

# Tooltip Colors
tooltip_background = #91210c
tooltip_foreground = #ffffff

# Fonts
font_family = Noto Sans
font_style = regular
font_size = 11

# Tooltip Fonts
tooltip_font_family = Noto Sans
tooltip_font_style = regular
tool_tip_font_size = 11
