[Desktop Entry]
Type=Application
Name[bg]=Предпазител на екрана на Xfce
Name[ca]=Estalvi de pantalla del Xfce
Name[cs]=Šetřič obrazovky Xfce
Name[da]=Xfce Pauseskærm
Name[de]=Xfce Bildschirmschoner
Name[el]=Xfce Προστασία οθόνης
Name[en_CA]=Xfce Screensaver
Name[en_GB]=Xfce Screensaver
Name[es]=Salvapantallas de Xfce
Name[et]=Xfce ekraanisäästja
Name[eu]=Xfce pantaila-babeslea
Name[fi]=Xfce:n näytönsäästäjä
Name[fr]=Économiseur d’écran de Xfce
Name[gl]=Protector de pantalla do Xfce
Name[he]=שומר מסך Xfce
Name[hr]=Xfce čuvar zaslona
Name[hu]=Xfce képernyővédő
Name[it]=Salvaschermo di Xfce
Name[ja]=Xfce Screensaver
Name[ko]=Xfce 화면 보호기
Name[lt]=Xfce ekrano užsklanda
Name[nb]=Xfce Skjermsparer
Name[nl]=Xfce-schermbeveiliging
Name[oc]=Estalviador d'ecran Xfce
Name[pl]=Wygaszacz ekranu Xfce
Name[pt_BR]=Protetor de tela do Xfce
Name[pt]=Proteção de ecrã do Xfce
Name[ru]=Хранитель экрана Xfce
Name[sl]=Xfce ohranjevalnik zaslona
Name[sq]=Ekrankursyes Xfce
Name[sr]=Чувар заслона ИксФЦЕ-а
Name[sv]=Xfce skärmsläckare
Name[tr]=Xfce Ekran Koruyucu
Name[uk]=Зберігач екрана Xfce
Name[zh_CN]=Xfce 屏幕保护程序
Name[zh_TW]=Xfce 螢幕保護程式
Name=Xfce Screensaver
Comment[be]=Запусціць ахоўнік экрана і праграму блакавання
Comment[bg]=Стартиране на предпазителя и програмата за заключване на екрана
Comment[ca]=Llança l'estalvi de pantalla i el programa de bloqueig
Comment[cs]=Spouští šetřič a zámek obrazovky
Comment[da]=Start pauseskærms- og låserprogram
Comment[de]=Bildschirmschoner und das Sperrprogramm starten
Comment[el]=Εκκίνηση προγράμματος προστασίας οθόνης και κλειδώματος
Comment[en_AU]=Launch screensaver and locker program
Comment[en_CA]=Launch screensaver and locker program
Comment[en_GB]=Launch screensaver and locker program
Comment[es]=Ejecutar el salvapantallas y el programa de bloqueo
Comment[et]=Käivita ekraanisäästja ja lukustusprogramm
Comment[eu]=Pantaila-babesle eta programa blokeatzailea exekutatu
Comment[fi]=Käynnistä näytönsäästäjä ja näytönlukitus
Comment[fr]=Lancer l’économiseur d’écran et le programme de verrouillage
Comment[gl]=Executar o protector de pantalla e o bloqueo
Comment[he]=הפעל שומר מסך ותוכנית נועל
Comment[hu]=Képernyővédő és a zárolási program indítása
Comment[hy_AM]=Գործարկել էկրանապահը եւ կողպման ծրագիրը
Comment[hye]=Գործարկել էկրանապահը եւ կողպման ծրագիրը
Comment[id]=Luncurkan program screensaver dan pengunci
Comment[is]=Keyra skjáhvílu og læsingaforrit
Comment[it]=Avvia il salvaschermo e il programma di blocco
Comment[ja]=スクリーンセーバーとロッカープログラムを起動する
Comment[ko]=화면 보호기 및 잠금 프로그램 실행
Comment[lt]=Paleisti ekrano užsklandą ir užrakinimo programą
Comment[ms]=Lancar penyelamat skrin dan program pengunci
Comment[nb]=Kjør skjermsparer og skjermlås
Comment[nl]=Schermbeveiliging en vergrendelprogramma starten
Comment[oc]=Aviar l'estalviador d'ecran e lo programa de verrolhatge
Comment[pl]=Uruchom wygaszacz ekranu i program blokady
Comment[pt_BR]=Iniciar programa de bloqueador e protetor de tela
Comment[pt]=Lançar proteção de ecrã e programa de bloqueio
Comment[ru]=Запустить хранитель и блокировщик экрана
Comment[sk]=Spustiť šetrič obrazovky a zamykací program
Comment[sl]=Zaženi program ohranjevalnika zaslona in ključavnice
Comment[sq]=Nis programin ekrankursyes dhe kyçës
Comment[sr]=Покрени програм чувара и закључавања заслона
Comment[sv]=Starta skärmsläckare och låsprogram
Comment[th]=เรียกโปรแกรมรักษาหน้าจอและโปรแกรมล็อคหน้าจอ
Comment[tr]=Ekran koruyucu ve kilitleme programını başlat
Comment[uk]=Запускає програму зберігача і замикача екрана
Comment[zh_CN]=启动屏幕保护和锁定程序
Comment[zh_TW]=啟動螢幕保護程式與鎖定程式
Comment=Launch screensaver and locker program
GenericName[be]=Ахоўнік экрана
GenericName[bg]=Предпазител на екрана
GenericName[ca]=Estalvi de pantalla
GenericName[cs]=Šetřič obrazovky
GenericName[da]=Pauseskærm
GenericName[de]=Bildschirmschoner
GenericName[el]=Προστασία οθόνης
GenericName[en_AU]=Screensaver
GenericName[en_CA]=Screensaver
GenericName[en_GB]=Screensaver
GenericName[es]=Salvapantallas
GenericName[et]=Ekraanisäästja
GenericName[eu]=Pantaila-babeslea
GenericName[fi]=Näytönsäästäjä
GenericName[fr]=Économiseur d’écran
GenericName[gl]=Protector de pantalla
GenericName[he]=שומר מסך
GenericName[hr]=Čuvar zaslona
GenericName[hu]=Képernyővédő
GenericName[hy_AM]=Էկրանապահ
GenericName[hye]=Էկրանապահ
GenericName[id]=Screensaver
GenericName[is]=Skjáhvíla
GenericName[it]=Salvaschermo
GenericName[ja]=スクリーンセーバー
GenericName[kab]=Aseklas n ugdil
GenericName[ko]=화면 보호기
GenericName[lt]=Ekrano užsklanda
GenericName[ms]=Penyelamat Skrin
GenericName[nb]=Skjermsparer
GenericName[nl]=Schermbeveiliging
GenericName[oc]=Estalviador d'ecran
GenericName[pl]=Wygaszacz ekranu
GenericName[pt_BR]=Protetor de tela
GenericName[pt]=Proteção de ecrã
GenericName[ru]=Хранитель экрана
GenericName[sk]=Šetrič obrazovky
GenericName[sl]=Ohranjevalnik zaslona
GenericName[sq]=Ekrankursyes
GenericName[sr]=Чувар заслона
GenericName[sv]=Skärmsläckare
GenericName[th]=โปรแกรมรักษาหน้าจอ
GenericName[tr]=Ekran Koruyucu
GenericName[uk]=Зберігач екрана
GenericName[zh_CN]=屏幕保护
GenericName[zh_TW]=螢幕保護程式
GenericName=Screensaver
Icon=org.xfce.ScreenSaver
Exec=xfce4-screensaver
NotShowIn=XFCE;
NoDisplay=true
#X-XFCE-Autostart-Phase=Application
#X-XFCE-Autostart-Notify=true
#X-XFCE-Bugzilla-Bugzilla=XFCE
#X-XFCE-Bugzilla-Product=xfce4-screensaver
#X-XFCE-Bugzilla-Component=general
#X-XFCE-Bugzilla-Version=4.18.4
