Source: bunsen-exit
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper (>= 10), help2man, python2.7, python-dbus
Standards-Version: 4.3.0
Homepage: https://github.com/BunsenLabs/bunsen-exit
Vcs-Git: https://github.com/BunsenLabs/bunsen-exit.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-exit

Package: bunsen-exit
Architecture: all
Depends: ${misc:Depends}, systemd|elogind, policykit-1
Recommends: yad, light-locker 
Replaces: bunsen-utilities (<<9.2-1), bunsen-exit-python
Breaks: bunsen-utilities (<<9.2-1)
Conflicts: bunsen-exit-python
Description: Bunsen logout script.
 GUI logout/suspend/reboot/poweroff script, with a GUI,
 TTY menu and CLI options.

Package: bunsen-exit-python
Architecture: all
Depends: ${misc:Depends}, systemd|elogind, python2.7, python-gtk2, python-dbus
Recommends: light-locker
Replaces: bunsen-utilities (<<9.2-1), bunsen-exit
Breaks: bunsen-utilities (<<9.2-1)
Conflicts: bunsen-exit
Provides: bunsen-exit
Description: Python-based Bunsen logout script.
 GUI logout/suspend/reboot/poweroff script.

